body {
  font-family: 'Helvetica';
}

#chart {
  margin-top: 30px;
}

.vis {
  margin-top: 40px;
  margin-bottom: 20px;
}

.zoomIn {
  margin-left: -50px;
}
img {
  height: 150px;
  width: 150px;
  margin: 5px;
}

.key {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 90%;


}


#titleText {
  position: absolute;
  top: 20px;
  right: 180px;
  font-size: 38px;
  color: black;
  font-family:
}

#genre, #year, #season, #popularity, #tempo {
  display: block;
  margin: 10px 0 10px;
  /*top rightleft bottom*/
  background-color: rgb(30, 131, 221);
  border: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7898C2;
  border-radius: 11px;
}

.colorKey {
  height: 50px;
  margin: 2px;
}

#redKey {
  background-color: red;
}

#orangeKey {
  background-color: orange;
}

#yellowKey {
  background-color: yellow;
}

#greenKey {
  background-color: green;
}

#blueKey {
  background-color: blue;
}

#purpleKey {
  background-color: purple;
}

#pinkKey {
  background-color: pink;
}

#brownKey {
  background-color: brown;
}

#blackKey {
  background-color: black;
}

#whiteKey {
  background-color: antiqueWhite;;
}

#beigeKey {
  background-color: burlywood;
}

#grayKey {
  background-color: gray;
}

.zoomIn, .toggleButtons {
  height: 400px;
  width: 100%;
}


.zoomIn {
  padding-top: 50px;
}

.toggleButtons {
  /*border: 2px solid black;*/
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.axis path {
  fill: none;
  stroke: #999;
  stroke-dasharray: 2 3;
}

.axis text {
  font-size: 13px;
  font-family: "Helvetica";
  stroke: #222;
}

text.title {
  font-size: 24px;
}

circle.tick {
  fill: #f3f3f3;
  stroke: #999;
  stroke-dasharray: 2 3;
}

path.spiral {
  fill: none;
  stroke: #ee8d18;
  stroke-width: 3px;
}

.tooltip {
  font-size: 40px;
  font-family: "Helvetica";
  padding: 0;
  text-align: center;
  z-index: 10;
  display: block;
  opacity: 0;
}

.date, .value, .artists {
  font-size: 14px;
}
